<!DOCTYPE html>
<html>
    <head>
    	<title>Flag Quiz</title>
    	<link rel="stylesheet" type="text/css" href="quiz.css">
    	<link href="https://fonts.googleapis.com/css?family=Cinzel|Permanent+Marker|Shadows+Into+Light" rel="stylesheet">
    </head>