<% include partials/header %>
<body>
	<div id="top">
		<h1>Flag Quiz</h1>
		<span id="lyrics"></span>
	</div>
	
	<div id="middle">
		<button id="reset">Play Again</button>
		<span id="result"></span>
		<button id="easy">Easy</button>
		<button id="medium" class="selected">Medium</button>
		<button id="hard">Hard</button>
		<button id="lookup"><a href="/search">Look-up</a></button>
		
	</div>
	
	<div id="bottom">
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
		<div class="squares"></div>
	</div>
	
	
	

	
<script type="text/javascript" src="quiz.js"></script>

<% include partials/footer %>