<% include partials/header %>
<body>
	
	<div id="top">
		<h1>Flag Search</h1>
	</div>
	
	<div id="middle">	
		<!-- The User's search input gets transfered from the client side to the server side. -->
		<form id="searchForm" action="/search" method="POST">
		    <input type="text" name="searchInput" placeholder="Enter Country">
		    <button id="searchButton">Search</button>
		</form>
		<button id="back"><a href="/">Back</a></button>
	</div>

<% include partials/footer %>

