<!DOCTYPE html>
<html>
    <head>
    	<title>Flag Quiz</title>
    	<link rel="stylesheet" type="text/css" href="../quiz.css">
    	<link href="https://fonts.googleapis.com/css?family=Cinzel|Permanent+Marker|Shadows+Into+Light" rel="stylesheet">
    </head>

<body>
	<div id="top">
		<h1>Flag Search</h1>
		<span id="lyrics"></span>
	</div>
	
	<div id="middle">		
		<!-- <span id="result"></span> -->
		
		<form id="searchForm" action="/search" method="POST">
		    <input id="searchImage" type="text" name="searchImage" placeholder="Enter Country">
		    
		    <button id="searchButton">Search</button>
		</form>
		<button id="back"><a href="/">Back</a></button>
	</div>

	<div id="bottom">
		<!--Wenn richtig eingegeben, dann soll dieses DIV das Bild des eingegebenen Landes darstellen.-->
		<!--s wäre jetzt die id-->
		<%var s = id %>
		<%var s2 = s.replace("+ ","");%>
		
		
    	<%var s_adjusted = s2.toLowerCase()%>
    	<%var found = false;%>
		<%var results ={}%>
    	<%var counter = 0;%>
    	<%for (key in data){%>
        	<%var key_adjusted = key.toLowerCase()%>
        	<%if(key_adjusted.includes(s_adjusted)&& s_adjusted!== ""){%>
            	
            	<%results[key] = "\'../"+ data[key].substring(1)%>
            	<%found = true;%>
            	<%counter = counter + 1%>
            <% } %>
        <% } %>
		
		
	 <%	if(counter == 1){ %>
     <%   	for(key in results){ %>
     
            	<div class="squares" style="margin: 0 262.5px;background-image: url(<%=results[key]%>)"></div>
            	<div style="padding-top:200px;text-align:center">
	        	<p style=" margin: 0;text-align:center;font-family: 'Permanent Marker', cursive;font-size: 30px;"><%= key %></p> 
	    		</div>
     <%   	} %>
        
     <% } %>
     
     <%  if(found == false && s_adjusted!== ""){%>
          <p style="text-align:center;font-family: 'Permanent Marker', cursive;font-size: 30px;">Country not found </p>
            
      <%  } %>
      
      <% if(counter>1){ %>
	    	<p style="text-align:center;font-family: 'Permanent Marker', cursive;font-size: 30px;">Did you mean...</p>
	  <%  	for(key in results){ %>
				
	    		<li>
	    		   <a style="color:#FFA500;text-decoration:none;text-align:center;font-family: 'Permanent Marker', cursive;font-size: 30px;" href="/search/+ <%=key%>" ><%=key%></a> 
	    		</li>
	     <% } %>
	  <% } %>
		
	    
		
	</div>
	
	
	
	<!--<p id="searched" style="display:none"></p>-->
	
	
<!--<script type="text/javascript" src="Flag_Search.js"></script>-->

<% include partials/footer %>

