body {
	margin: 0;
}

#top {
	background: #FFA500;
	text-align: center;
	padding: 20px;
}

#middle {
	background: black;
	text-align: center;
	height: 30px;
}

#bottom {
	max-width: 750px;
	margin: 5% auto;
}

/*-------------------------*/
/*  STYLING FOR QUIZ PAGE  */
/*-------------------------*/

/*-------------------------*/
/* Styling for top-section */
/*-------------------------*/

h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	margin: 0;
}

#countryName {
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
}

/*-------------------------*/
/* Styling for mid-section */
/*-------------------------*/

button {
	border: none;
	background: none;
	color: white;
	font-family: 'Cinzel', serif;
	height: 100%;
	transition: all 0.3s;
	outline: none;
}

button:hover{
	color:black;
	background: white;
	cursor: pointer;
}

.selected {
	color:white;
	background: #FFA500;
}

#reset{
	margin-left:150px;
}

#result {
	color: white;
	font-family: 'Cinzel', serif;
	display: inline-block;
	width: 20%;
}

#lookup{
	float: right;
	margin-right: 20px;
}

/*-------------------------*/
/* Styling for bottom-section */
/*-------------------------*/

.squares {
	background-size: 225px 150px;
	width: 30%;
	/* % - specifies a padding in % of the width of the containing element*/
	/*So the div-squares are contained inside the bottom-div*/
	padding-top: 20%;
	margin: 1.66%;
	float: left;
	border-radius: 10%;
	cursor: pointer;
}

/*-------------------------*/
/*  STYLING FOR SEARCH PAGE  */
/*-------------------------*/

/*-------------------------*/
/* Styling for mid-section */
/*-------------------------*/

#searchForm{
	display: inline-block;
	height:100%;
	margin-left: 125px;
}

input{
	width: 300px;
	border: none;
	padding: 2px 2px;
	outline: none;
}

button a{
	text-decoration:none;
	color: white;
}

button a:hover{
	color:black;
	background: white;
}

#back{
	float:right;
	margin-right: 20px;
}

/*-------------------------*/
/* Styling for bottom-section */
/*-------------------------*/

#searchedImage{
	background-size: 225px 150px;
	width: 30%;
	/* % - specifies a padding in % of the width of the containing element*/
	/*So the div-squares are contained inside the bottom-div*/
	padding-top: 20%;
	margin: auto auto;
	display:inline-block;
	border-radius: 10%;
}

#searchedImageText{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
}